@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

:root{
    --border-color: linear-gradient(
        to right,
        #9A48D0 0%,
        #E4B7E5 100%       
    );
    --background-color: rgb(199, 194, 194); 
    --background-absolute: linear-gradient(
        to right,
        #4b1171 0%,
        #7418b0 25%,
        #9920ea 50%,
        #4b1171 100%
    ); 
    --inputs: #63458A;
    --placeholder: #E4B7E5;
    --header:#B288C0;
    --orange: linear-gradient(
        to right,
        orange 0%,
        tomato 50%,
        orangered 100%
    )
} 

*{
    margin:0;
    padding:0;
    font-family: 'Quicksand', sans-serif;
}

body{
    background:linear-gradient(to right, #43c6ac, #191654);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: solid 2px black;
    background: wheat
}

.logo{
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    .inicio{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border:none;
        img{
            width: 80%;
        }
    }
}

::placeholder{
    color:var(--placeholder);
    text-align: left
}

.browse-bar{
    display: flex;
    height: 30px;
    align-self: center;
    justify-content: center;
    width: 600px;
    
    .input-1{
        display: flex;
        border-radius: 50px 0 0 50px;
        width: 220px;
        border:solid 1px var(--inputs);
        background-color: white;
        padding:0 6px 0 15px;
    }
    .bbtn{
        display: flex;
        justify-content: center;
        height: 30px;
        
        .browser{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 5px 5px 0;
        height: 30px;
        background-color:white;
        border:solid 1px var(--inputs);
            .lupita{
                width: 50%;   
            }    
        }
        .upload{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: medium;
            margin-left: 10px;
            margin-right: 10px;
            border-radius: 5px;
            border: solid 1px;
            background: var(--orange);
            .camarita{
                width: 20%;
                padding: 0 0 0 10px
            }
            .text-upload{
                color: var(--background-absolute)
            }

        }
            
        .refresh{
            display:flex;
            justify-content: center;
            align-items: center;
            font-size: medium;
            border-radius: 5px;
            border: 1px solid;
            .text-refresh{
                display: flex;
                padding: 0 10px 0 10px;
            }
        }
    }
}

.bloque{
    
    flex-direction: column;
    width: 600px;
    align-items: center;
    justify-content: center;
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .botonera{
        padding-top: 5px;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style-type: none
            
        }
        
    }
}